/* styles.css */

/* For WebKit browsers (Chrome, Safari) */
::-webkit-scrollbar {
    width: 8px; /* Adjust the width as needed */
    height: 8px; /* Adjust the height for horizontal scrollbars */
}

::-webkit-scrollbar-track {
    background: #c5c3c3; /* Scrollbar track color */
}

::-webkit-scrollbar-thumb {
    background: #AB89F6; /* Scrollbar thumb color */
    border-radius: 10px; /* Round the corners */
}

::-webkit-scrollbar-thumb:hover {
    background: #AB89F6; /* Thumb color when hovered */
}

/* For Firefox */
* {
    scrollbar-width: thin; /* 'auto' or 'thin' */
    scrollbar-color: #AB89F6 #f1f1f1; /* thumb and track color */
}
